.search-bar {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: var(--spacing-md);
}

.search-bar__input {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 0.5px solid var(--color-accent);
  border-radius: 0;
  padding-bottom: var(--spacing-md);
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  color: var(--color-text-primary);
  background: var(--color-bg);
  outline: none;
  appearance: none;
  text-transform: capitalize;
}

.search-bar__input::-webkit-search-cancel-button {
  display: none;
}

.search-bar__input::placeholder {
  color: var(--color-text-secondary);
  text-transform: none;
}

.search-bar__input:focus {
  color: var(--color-text-primary);
}

.search-bar__clear {
  color: var(--color-text-primary);
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
}
